<ion-view view-title="Categor&iacute;as">
    <ion-content ng-class="{expanded:isExpanded}">
        <!-- <div class="content has-header"> -->
            <ion-list>
                <ion-item ng-repeat="category in categories" 
                            class="item item-icon-left" href="#/app/{{url}}/{{category.catId}}"><!-- href="#/app/{{category.name}}/id/{{category.catid}}">-->
                        <!--img class="full-image" src="http://186.5.121.17:9090/cashback/imagenes/{{category.catImagen}}"></img-->
                        <i class="{{category.catAppImagen}}"></i>
                        <h2>{{category.catNombre}}</h2>
                        <p> {{category.catNombre}}</p>
                </ion-item>
            </ion-list>
        <!-- </div> -->
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-positive">
        <!--<h3 class="title">Somos Global</h3>-->
    </ion-footer-bar>

</ion-view>
