<ion-view view-title="Perfil">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="content">
                <ion-list>
                    <div class="item item-avatar">
                        
                        <img src="{{user.picture}}"/>
                        <h2 class="padding">{{user.name}}</h2>
                        <!--
                        <h3 class="padding">{{user.userID}}</h3>
                        <h3 class="padding">{{user.authResponse}}</h3>
                        <h3 class="padding">{{user.authResponse.userID}}</h3>
                        -->
                        <!--<p class="padding">Usted no posee puntos</p>-->
                        
                        <p>Se encuentra en:</p>
                        <p>Latitud {{lat}}</p>
                        <p>Longitud {{long}}</p>
                        
                    </div>
                </ion-list>
                </div>
        <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.activity" class="tab-item">
                <i class="icon ion-arrow-graph-up-right"></i> Actividad Reciente
            </a>
            <a ui-sref="app.gallery" class="tab-item">
                <i class="icon ion-images"></i> Galer&iacute;a
            </a>
        </div>
        <div class="content">
            <div id="map" data-tap-disabled="true"></div>
        </div>
    </ion-content>
</ion-view>
