<ion-view view-title="Confirmaci&oacute;n de Registro">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
       <!--  <div class="hero slide-up" style="background-image: url('img/material-graphite.jpg');">
            <div class="content">
                <div class="avatar" style="background-image: url('img/reg.png');"></div>
                <h3><a class="light">Confirmacion de Registro</a></h3>
            </div>
        </div> -->
        <div class="content"></div>
        <div class="content padding double-padding-x">
                <br></br>
                <p class="content" align="justify">
                    Su registro ha sido exitoso. Con las credenciales proporcionadas usted ingresar&aacute; a la m&aacute;s grande red de fidelizaci&oacute;n del Ecuador.
                </p>
                <p>Muchas Gracias</p>
                <p>Ahora Somos Global!</p>
        </div>
        <div class="padding">
            <button  ng-click="newUser();"  class="button button-full button-positive ink">Enviar</button> <!-- ui-sref="app.profile"-->
        </div>
    </ion-content>
</ion-view>