<ion-view view-title="Confirmaci&oacute;n de Registro">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
       
        <h4 class="content padding double-padding-x">T&eacute;rminos del Servicio</h4>
        <div class="list padding">
            <a class="item item-avatar item-icon-left item-text-wrap">
                <i class="icon ion-checkmark-circled"></i>
                <h2>T&eacute;rmino 1</h2>
                <p class="content" align="justify">Somos Global es una aplicaci&oacute;n m&oacute;vil de libre uso y distribuci&oacute;n.</p>
                
            </a>
            <a class="item item-avatar item-icon-left item-text-wrap">
                <i class="icon ion-checkmark-circled"></i>
                <h2>T&eacute;rmino 2</h2>
                <p class="content" align="justify">Somos Global es una aplicaci&oacute;n de fidelizaci&oacute;n de y r&eacute;dito de puntos</p>
                
            </a>
            <a class="item item-avatar item-icon-left item-text-wrap">
                <i class="icon ion-checkmark-circled"></i>
                <h2>T&eacute;rmino 3</h2>
                <p class="content" align="justify">La disponibilidad y canje de productos y servicios estar&aacute; sujeta al stock de los locales y proveedores suscritos al servicio, por lo cual los contenidos pueden variar en cualquier momento.</p>
                
            </a>
        </div>
        <div class="padding">
            <button ui-sref="app.registerConfirm" class="button button-full button-positive ink">Continuar</button>
        </div>
    </ion-content>
</ion-view>